/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'); */
/* get helped from w3school url:https://www.w3schools.com/cssref/css3_pr_font-face_rule.php */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
    font-family: defaultregular;
    src: url("../fonts/AmaticSC-Regular.ttf");
  }
@font-face {
    font-family: defaultbold;
    src: url("../fonts/AmaticSC-Bold.ttf");
}
* {
    /* font-family: "defaultregular"; */
    /* font-family: defaultbold; */
    font-family: 'Zilla Slab', serif;
}


body {
    margin: 0px;
    /* width: 100%;
    height: 100%; */
    /* background-attachment: fixed; */
}


.banner {
    display: flex;
    /* width: 1920px;
    height: 850px; */
    margin: 0px;
    /* flex-shrink: 0; */
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-around;

}
.banner1 {
    display: block;
}
.banner1-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 197px 0px 0px 240px;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
}
.banner1-description{
    margin-top: 32px;
    margin-left: 240px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    width: 634px;

}
.btn-primary {
    padding: 20px 43px;

    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 43px;

}
#banner1-btn-primary {
    margin: 0px 0px 147px 240px
}
.banner-bg {
    padding: 50px 240px 0px 0px;
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}
.banner2 {

}

.banner2-title {
    text-align: center;
    padding: 178px 764px 0px 764px;
    
}
#banner2-des {

    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    padding: 0px 663px ;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.box-footer {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-align: center;
    text-decoration: underline;
}
.box1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.box1 .box11 {
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 78px;
}
.box2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;

}
.box2 .box22 {
    
    width: 370px;
    height: 370px;

    padding: 110px 78px 83px 78px;

   
}
.box2 .box-footer{
    margin: 0px;
}

.box3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}
.box3 .box33 {
    padding: 67px 75px 0px 75px;
    width: 314px;
    height: 471px;
    flex-shrink: 0;
}
.rec-6{
    margin: 128px 240px 0px 240px;
    display: flex;
    padding-top: 86px;
    padding-left: 175px;
    padding-right: 175px;
    justify-content: space-around;
    /* gap: 356px; */
    text-align: center;
}
/* .rec-6 .our-service{
    gap: ;
} */


.hot-deal {
    display: flex;
    justify-content: space-between;
}
/* .main-hot-deal {
    margin: auto;

} */
.hot-deal-title {
    padding: 230px 0px 0px 423px;
    margin-bottom: 0px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.hot-deal-description {
    margin-top: 0px;
    padding-left: 395px;
    max-width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
#off {
    color: #E55473;
}
.hot-deal-bg img{
    padding: 100px 429px 0px 0px;
}
.main-hot-deal .btn-primary {
    margin-left:  603px;
}
.image-boxs {
    display: flex;
    gap: 24px;
    margin: 48px 240px;

}
.insta-text {
    margin: auto;
}
.insta-title {
    color: #272727;
    text-align: center;
    margin-bottom: 0px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.insta-des {
    margin: auto;
    width: 594px;
    margin-top: 24px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
}
.image-box1{



    object-fit: scale-down;


}
/* object fit atribute learned from w3school */
.image-box1 img {

    max-width: 342px;
    max-height: 396px;
    object-fit: none;

}
.instagram {
    margin-top: 128px;
}
.latest-deals-div {
    display: blo;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
    margin: 128px 240px;
    background-image: url("/asset/Rectangle\ 9.png");
    

}
.text-section-latest-deal{
    padding-top: 122px;
}
#latest-des-fix {
    margin-top: 0px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.subscription-form {
    /* padding: 0px 287px; */
    display: flex;
}
.subscription-form-main input[type="email"]{
    width: 700px;
    height: 64px;
    flex-shrink: 0; 
    border: 0px;
    border-radius: 8px;
    margin-left: 287px;
    margin-right: 16px;
    padding: 0px 0px 0px 22px;
    margin-top: 48px;
}

footer {
    margin-top: 128px;
    padding-top:128px ;
    background: #111010;
    padding-bottom: 128px;

}
#footer-text-fix {
    color: white;
}
.copyright-footer {
    text-align: center;
}